* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input::placeholder,
input,
button {
  font-family: "Ubuntu Mono", monospace;
  color: black;
}

p,
span,
ul {
  font-size: 1.1rem;
  line-height: 1.35;
}

a {
  text-decoration: none;
  color: green;
}

main {
  margin: 200px auto 0 auto;
  max-width: 600px;
}

.container {
  margin: 20px;
}
.card {
  padding: 20px 40px;
  border: solid 5px black;
  border-radius: 10px;
  position: relative;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .card {
    padding: 20px;
  }
}

.card__title {
  position: absolute;
  top: 0px;
  margin: 0;
  left: -2px;
  transform: rotate(-90deg) translate(-100%, -100%);
  transform-origin: top left;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

p {
  line-height: 1.35;
  margin: 0 0 15px;
}

h1,
h2,
h3 {
  margin: 10px 0 15px;
}

h4,
h5,
h6 {
  font-weight: 700;
  margin: 10px 0px 10px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

.footer {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
  margin-bottom: 15px;
  list-style: none;
}
li {
  position: relative;
  padding-left: 20px;
  font-size: var(--fz-xs);
}
li:before {
  content: "\2023";
  position: absolute;
  left: 0px;
  top: 1px;
}

.react-logo {
  animation: spinClockwise infinite linear 10s;
}

@keyframes spinClockwise {
  100% {
    transform: rotate(360deg);
  }
}

.bold {
  font-weight: bold;
}